{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item date__item">
  {% if post.id == page.id %}
    <a href="{{ post.url | relative_url }}" rel="permalink">👈 {{ title }} <span class="date__text">{{ post.date | slice: 0, 10}}</span></a>
  {% else %}
    <a href="{{ post.url | relative_url }}" rel="permalink">👉 {{ title }} <span class="date__text">{{ post.date | slice: 0, 10}}</span></a>
  {% endif %}
</div>
