/* ==========================================================================
   Github skin_uniony
   ========================================================================== */

/* Colors */
$background-color: #ffffff !default;
$text-color: #24292e !default;
$border-color: #eaecef !default;


$primary-color: #0366d6 !default;
$focus-color: $primary-color !default;

/* links */
$link-color: #0366d6 !default;
$link-color-hover: #0366d6 !default;
$link-color-visited: #0366d6 !default;
$masthead-link-color: white !default;
$masthead-link-color-hover: mix(#000, $masthead-link-color, 25%) !default;
$navicon-link-color-hover: mix(#fff, $masthead-link-color, 75%) !default;
